<!DOCTYPE html>
<html lang="en">

<head>
  <title>Global Attacks</title>
  <meta charset="utf-8" />
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
<!--   load static files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


  <br><hr>

  <h1 align="center">About the Data Project</h1>

  <hr><br>

  <div id="geo-plot"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  <div class="col-md-12">
    <span class="glyphicon glyphicon-send"></span>
    <h4>For this project, we retreived a dataset with over 100,000 rows of global detailed terrorist attacks from 1970 to 2017.</h4>
        <img id="about-image" src="C:\Users\tusca\Desktop\Pictures\Screenshots\Screenshot (176).png">
          </div>
      </section>

  <div class="col-md-12">
     <span class="glyphicon glyphicon-send"></span>
     <h4>We then removed all unnecessary columns and uploaded the cleaned dataset to Pandas.</h4>
            <img id="about-image" src="C:\Users\tusca\Desktop\Pictures\Screenshots\Screenshot (178).png">
              </div>
          </section>

  <div class="col-md-12">
        <span class="glyphicon glyphicon-send"></span>
        <h4>A Python app was created that helped us deploy the files to Heroku. The result created the page you are viewing now!</h4>
                   <img id="about-image" src="C:\Users\tusca\Desktop\Pictures\Screenshots\Screenshot (180).png">
                     </div>
                 </section>
 

  <footer>
    <div class="row">

        <div class=col-md-3>
            <p>
                <a href="https://github.com/Doc1Ft/Global-Terrorism-Analysis" target="https://github.com/Doc1Ft/Global-Terrorism-Analysis">GitHub</a> | 
                <a href="https://www.kaggle.com/START-UMD/gtd" target="https://www.kaggle.com/START-UMD/gtd">DataSet</a>
            </p>
        </div>
        <div class="col-md-6">
            <p class="project-names">
                <a href="#" target="#">Eric Tuscanes</a> | 
                <a href="#" target="#">Regan Farrell</a> | 
                <a href="#" target="#">Haris Sumra</a> | 
                <a href="#" target="#">Michael Toriello</a>
            </p>
        </div>
    </div>
</footer>

<!-- static files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>